.pageNav {
    display: flex;
    justify-content: space-between;
    background-color: #0d6efd;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    a {
        text-decoration: none;
    }
    a:link {
        color: #fff;
    }
    a:hover {
        color: #fff;
    }
    a:active {
        color: #fff;
      }
}
